{% extends 'base.html.twig' %}

{% block title %}Ajout d'une recette{% endblock %}

{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

<style>
    input, textarea, select {
        display:block;
        width:100%;
    }
</style>
{% endblock %}

{% form_theme myForm _self %}

{% block body %}
    <div class="container">
        <h1>Ajout d'une nouvelle recette</h1>
        {# {{ form(myForm) }} #}

        {{ form_start(myForm) }}

        {{form_widget(myForm)}}
        <button type="submit" class="btn btn-primary">Ajouter la recette</button>
        {{ form_end(myForm) }}

    </div>
{% endblock %}
{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js">

</script>
<script>
        $('.custom-file input').change(function (e) {
            var files = [];
            for (var i = 0; i < $(this)[0].files.length; i++) {
                files.push($(this)[0].files[i].name);
            }
            $(this).next('.custom-file-label').html(files.join(', '));
        });
</script>
{% endblock %}

