body, html{
    padding:0;
    margin:0;
}

.slide {
    background-image: url("../images/bg.jpg");
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size:contain;
}
.hildegarde{
    background-image: url("../images/hld.png");
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    position:absolute;
    width:300px;
    height:300px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius:50%;
    transition: opacity 0.5s ease-in-out;
    opacity : 0.7;
}

.hildegarde:hover{
    transition: all 0.5s ease-in-out;

    opacity: 1;
}
.txtHildegarde{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    margin-top:200px;
}

.starsimg{
    height: 200px;
    width: 100%;
    display: block;
}

.annonce-title{
    padding: 2em;
    background-size: cover;
    background-position: center center;
}

.annonce-title h1, .annonce-title p{
    color: white;
    text-shadow: 3px 3px 3px rgb(0,0,0,0.5);
}

.carousel-caption{
    text-shadow: 3px 3px 3px rgb(0,0,0,0.5);
}

.avatar{
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
}

.avatar-medium{
    max-width: 64px;
    max-height: 64px;
}

.avatar-mini{
    max-width: 24px;
    max-height: 24px;
}

.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover{
    color:  firebrick!important;
}

.rating i{
    color: goldenrod;
}

#produitGallery {
    padding: 40px;
    margin: 0 auto;
}
.gallery-title
{
    font-size: 36px;
    color: #db584e;
    text-align: center;
    font-weight: 700;
    padding: 40px 20px 60px;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #db584e;
    border-radius: 5px;
    text-align: center;
    color: #db584e;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #db584e;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #db584e;

}
.btn-default:active .filter-button:active
{
    background-color: #db584e;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}


@media screen and (max-width: 991px)
{
    .columnResponsive{
        flex-direction:column;
        width:100%;
        flex-wrap:wrap;
    }
}
