<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
</head>


{% block body %}
    <div class="slide">
        <a href="{{ path('produits_index') }}" class="hildegarde" ></a>
        <h1 class="txtHildegarde">Hildegarde</h1>
    </div>
{% endblock %}
</html>